<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cutomer Bank</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="fontawesome-free-5.15.1-web/css/all.css">
</head>

<body>
    <div class="container">
        <h2 class="text-center">Cutomer Bank List</h2>
        <button class="btn btn-primary mb-3 mt-3" data-toggle="modal" data-target="#myModalAdd"><i
                class="fas fa-user-plus"></i> Tambah
            Data</button>
        <table class="table table-striped" id="mytable">
            <thead class="thead-dark">
                <tr>
                    <th>Customer ID</th>
                    <th>Nama</th>
                    <th>Alamat</th>
                    <th>Kode Pos</th>
                    <th>No. Handphone</th>
                    <th>Email</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {{#each results}}
                <tr>
                    <td>{{ cust_id }}</td>
                    <td>{{ nama }}</td>
                    <td>{{ alamat }}</td>
                    <td>{{ kode_pos }}</td>
                    <td>{{ no_hp }}</td>
                    <td>{{ email }}</td>
                    <td>
                        <a href="javascript:void(0);" class="btn btn-sm btn-success edit" data-id="{{ cust_id }}"
                            data-nama="{{ nama }}" data-alamat="{{ alamat }}" data-kode_pos="{{kode_pos}}"
                            data-no_hp="{{no_hp}}" data-email="{{email}}"><i class="fas fa-user-edit"></i> Ubah</a>
                        <a href="javascript:void(0);" class="btn btn-sm btn-danger delete" data-id="{{ cust_id }}">
                            <i class="fas fa-trash"></i> Hapus</a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>

    <!-- Add New Product Modal-->
    <form action="/save" method="post">
        <div class="modal fade" id="myModalAdd" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Tambah Customer Bank</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <input type="text" name="nama" class="form-control" placeholder="Nama" required>
                        </div>

                        <div class="form-group">
                            <input type="text" name="alamat" class="form-control" placeholder="Alamat" required>
                        </div>
                        <div class="form-group">
                            <input type="text" name="kode_pos" class="form-control" placeholder="Kode Pos" required>
                        </div>
                        <div class="form-group">
                            <input type="text" name="no_hp" class="form-control" placeholder="No Handphone" required>
                        </div>
                        <div class="form-group">
                            <input type="text" name="email" class="form-control" placeholder="Email" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal"><i
                                class="fas fa-times"></i> Tutup</button>
                        <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i> Simpan</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <!-- Edit Product Modal-->
    <form action="/update" method="post">
        <div class="modal fade" id="EditModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Ubah Customer</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <input type="text" name="nama" class="form-control nama" placeholder="Nama" required>
                        </div>

                        <div class="form-group">
                            <input type="text" name="alamat" class="form-control alamat" placeholder="Alamat" required>
                        </div>
                        <div class="form-group">
                            <input type="text" name="kode_pos" class="form-control kode_pos" placeholder="Kode Pos"
                                required>
                        </div>
                        <div class="form-group">
                            <input type="text" name="no_hp" class="form-control no_hp" placeholder="No Handphone"
                                required>
                        </div>
                        <div class="form-group">
                            <input type="text" name="email" class="form-control email" placeholder="Email" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="hidden" name="id" class="cust_id">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal"><i
                                class="fas fa-times"></i> Tutup</button>
                        <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i> Perbarui</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <!-- Delete Product Modal-->
    <form id="add-row-form" action="/delete" method="post">
        <div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="myModalLabel">Hapus Customer</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                        <strong>Apa anda yakin ingin menghapus Data?</strong>
                    </div>
                    <div class="modal-footer">
                        <input type="hidden" name="cust_id" class="form-control cust_id2" required>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal"><i
                                class="fas fa-times"></i>
                            Tutup</button>
                        <button type="submit" class="btn btn-danger"><i class="fas fa-trash"></i> Hapus</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <script src="js/jquery-3.5.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            //showing data to edit modal  
            $('#mytable').on('click', '.edit', function () {
                var cust_id = $(this).data('id');
                var nama = $(this).data('nama');
                var alamat = $(this).data('alamat');
                var kode_pos = $(this).data('kode_pos');
                var no_hp = $(this).data('no_hp');
                var email = $(this).data('email');
                $('#EditModal').modal('show');
                $('.nama').val(nama);
                $('.alamat').val(alamat);
                $('.kode_pos').val(kode_pos);
                $('.no_hp').val(no_hp);
                $('.email').val(email);
                $('.cust_id').val(cust_id);

            });
            //showing delete record modal
            $('#mytable').on('click', '.delete', function () {
                var cust_id = $(this).data('id');
                $('#DeleteModal').modal('show');
                $('.cust_id2').val(cust_id);

            });


        });
    </script>

</body>

</html>